button {
  margin-top: 5%;
}
.all-form {
  margin: 5% auto;
  max-width: 500px;
  form {
    div {
      padding: 0;
    }
    button {
      background-color: #28a745;
      border-color: #28a745;
    }
  }
}
