.section3 {
  margin: 5% 0;
  .container {
    .creations-text {
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
      h1 {
        font-family: $primary-font-family;
        font-size: 48px;
      }
      button {
        @extend %primary-button;
      }
    }
    .creations-img-desktop {
      .row {
        margin: 0;
        margin-bottom: 30px;
        padding: 0;
        justify-content: space-between;
        div {
          position: relative;
          max-width:100%;
          &:hover{
            opacity: 0.5;
          }
          span {
            font-family: $primary-font-family;
            font-size: 36px;
            color: white;
            position: absolute;
            bottom: 0;
            margin: 20px;
          }
          img{
            width: 100%;
          }
        }
      }
    }
    .creations-img-mobile{
        display: none;
        padding: 4%;
        .row{
          justify-content: space-around;
          box-sizing: border-box;
          margin-bottom: 20px;
          row-gap: 20px;
            div{
                position: relative;
                width: 330px;
                padding: 0;
                &:hover{
                  opacity: 0.5;
                }
                span{
                    font-size: 24px;
                    font-family: $primary-font-family;
                    position: absolute;
                    bottom: 0;
                    color: $color-white;
                    margin: 20px;
                }
                img{
                  max-width: 330px;
                  
                }
            }
        }
    }
    .section3-down-btn {
      display: none;
      button {
        @extend %primary-button;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
    .section3 {
        .container {
          .creations-text {
            display: flex;
            justify-content: center;
            align-items: center;
            // text-align: center;
            h1 {
              font-size: 36px;
            }
            button {
              display: none;
            }
          }
          .creations-img-desktop {
            display: none;
          }
          .creations-img-mobile{
            display: block;
          }
          .section3-down-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            button {
              @extend %primary-button;
            }
          }
        }
      }
  }

@media only screen and (max-width: 767px) {
  .section3 {
    .container {
      .creations-img-desktop {
        display: none;
      }
      .creations-img-mobile{
        display: block;
        .row{
          div{
            width:654px;
            img{
              max-width: 100%;
            }
          }
        }
      }
      .section3-down-btn {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
