header{
    background-color: rgba(16, 99, 78, 0.9);
    padding: 1% 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            color: $white-color;
        }
        nav{
            color: $secondary-color;
            ul{
                display: flex;
                gap: 40px;
                margin: 0;
                a{
                    color: $secondary-color;
                }
            }
            .menu-btn{
                display: none;
            }
        }
    }
    @media only screen and (max-width:992px){
        .header{
            nav{
                ul{
                    display: none;
                }
                .menu-btn{
                    display: block;
                }
            }
        }
    }
}