.section1{
    background-image: url(../../images/desktop/image-hero.jpg);
    background-color: #000;
    height: 100vh;
    .container{
        header{
            display: flex;
            justify-content: space-between;
            ul{
                display: flex;
                gap: 30px;
                font-size: 18px;
                li{
                    a{
                        color: $text_white;
                        font-family: $secondary_font_family;
                    }

                }
            }
            .menuBtn{
                display: none;
            }
        }
        .section1-text{
            height: 80vh;
            display: flex;
            justify-content: start;
            align-items: center;
            .section1-content{
                border: 1px solid $text_white;
                color: $text_white;
                font-family: $primary_font_family;
                font-size: 72px;
                max-height: 350px;
                max-width: 650px;
                padding: 5%;
            }
        }
    }

}

@media only screen and (max-width:991px){
    .section1{
        .container{
            header{
                ul{
                    display: none;
                }
                .menuBtn{
                    display: block;
                    background-color: transparent;
                    border: none;
                }
            }
            .section1-text{
                .section1-content{
                    font-size: 45px;
                }
            }
        }
    }
}
