.section2 {
  .container {
    .section2-all {
      padding: 0 5%;
      display: flex;
      position: relative;
      img {
        width: 100%;
      }
      .section2-content {
        background-color: $color-white;
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 15;
        max-width: 570px;
        padding: 6%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        h1 {
          font-family: $primary-font-family;
          font-size: 48px;
          font-weight: 500px !important;
        }
        p {
          font-family: $secondary-font-family;
          color: gray;
          line-height: 1.5em;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .section2 {
    .container {
      .section2-all {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
        .section2-content {
          position: static;
          max-width: fit-content;
          h1 {
            font-size: 30px;
          }
        }
      }
    }
  }
}
