.all-features-sec{
    background-image: url(../images/feature-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .features-sec{
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        margin: 0 ;

        h1,p{
            color: $white-color;
        }
        .features-card{
            max-width:300px ;
            padding: 10px;
            background-color: $white-color;
            border-radius: 7px;
            margin-bottom: 30px;
            .icon-text{
                display: flex;
                align-items: center;
                span{
                    font-size: 22px;
                    margin-left: 9px;
                }
            }
            p{
                text-align: start;
                color: rgb(192, 192, 192);
            }
        }
    }
}